*{
    margin: 0;
    padding: 0;
    
}
body{
    margin: 0;
    padding: 0;
    
}
.col-lg-4{
    margin: auto;
}
#submit-btn{
    margin-top: 118px;
margin-left: 10px;
    background: transparent;
    background-color: aqua;
    color: #fff;
    width: 150px;
    border: 1px solid blue;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background:-webkit-linear-gradient(0deg,transparent 50%,blue);
    background-size: 400px 80px; 
    transition: 0.8s;
    cursor: pointer;
}
#submit-btn:hover{
     background-color: black;
    color:grey;
    transition: 0.9s;
    transition-duration: 0.6s;  
    background-position: 200px 0;
}


