*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#form{
    margin: auto;
    background-color: #000;
    height: 400px;
    width: 800px;
    margin-top: 100px;
    opacity: 0.7;
    
}
#first-group{
    border: 2px solid lime;
    width:400px;
    margin-top: auto;
    position: absolute;
    height: 239px;
}
#content{
    border: 1px solid #fff;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
    letter-spacing: -0.5px;
}
#content #input{
    border: none;
    outline: none;
    background:transparent ;
    margin-left: auto;
    width: 300px;
    color: white;
}
::placeholder{
    color: #fff;
    
}
.fa{
    display: inline-block;
    color: red;
    border-right: 1px solid #fff;
    padding: 8px;
    margin-left: 8px;
}
#second-group{
    border: 2px solid lime;
    width: 380px;
    margin-top: auto;
    margin-left: 410px;
    height: 239px;
}

#submit-btn{
    margin-top: auto;
    margin-left: 600px;
    background: transparent;
    background-color: aqua;
    color: #fff;
    width: 150px;
    border: 1px solid blue;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background:-webkit-linear-gradient(0deg,transparent 50%,blue);
    background-size: 400px 80px; 
    transition: 0.8s;
    cursor: pointer;
}
#submit-btn:hover{
     background-color: black;
    color:white;
    transition: 0.9s;
    transition-duration: 0.6s;  
    background-position: 200px 0;
}
#link a{
 background: transparent;
    background-color: transparent;
    background-color:transparent;
    color: #fff;
    width: 162px;
    border: 1px solid white;
    outline: none;
    padding: 5px 30px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    
}

#charges{
    color: white;
    margin-left: 50px;
    height: 81px;
}
#charges select{
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    background-color: black;
    box-shadow: 5px 2px 10px green;
    cursor: pointer;
}
